:root {
  --primary-color: radial-gradient(
    circle at 10% 20%,
    rgb(255, 189, 189) 0%,
    rgb(255, 216, 168) 62%
  );
  --secondary-color: rgb(148, 82, 7);
}

body {
  background: var(--primary-color);
  background-attachment: fixed;
}

h1 {
  text-align: center;
  margin: 25px;
  color: var(--secondary-color);
}

p {
  text-align: center;
}

div a {
  text-decoration: none;
  color: var(--secondary-color);
  margin: 0 10px;
}

.img-fluid {
  max-width: 100%;
  margin-bottom: 25px;
  box-shadow: 4px 5px 10px #000;
  border-radius: 4%;
}
